.application-row {
	display: flex;
	justify-content: space-around;
}
.application-column {
	background: #456990;
	margin-top: 5em;
}

.field,
.actions,
.input-field {
	background: #456990;
	height: 8em;
}

.inline-text-box {
	margin: 1.5em 5%;
	height: 5em;
	width: 90%;
	background: #E4FDE1;
	text-indent: 1em;
	letter-spacing: 4px;
}

.number-label {
	background: #456990;
	color: #E4FDE1;
	line-height: 2em;
	padding: 1em 0em;
	font-size: 2em;
	margin-bottom: 0em;
	margin-left: 5%;
	width: 80%;
	letter-spacing: 5px;
	text-transform: uppercase;

}

.number-input { 
width: 10%; 
margin: 0.5em 0em;
height: 2em;
background: #E4FDE1;
font-size: 2em;
text-align: center;
}

.application-submit {
	width: 90%;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 5%;
	background: #F45B69;
	color: #E4FDE1;
	letter-spacing: 4px;
}

@media (min-width: 992px) {
	.input-field {
		height: 6em;
	}
	.number-label {
		width: 75%;
		font-size: 1em;
		letter-spacing: 4px;
	}

	.number-input {
		width: 15%;
		height: 2em;
	}
}
