* { 
background: #114B5F;
font-family: "museo_sans500";
}

.landing {
	text-align: center;
}

.landing h1 {
	font-size: 10em;
	color: #E4FDE1;
}


.landing h3 {
	color: #E4FDE1; 
}

.landing a {
	text-decoration: none;
	color: #F45B69;
	font-size: 2em;
}

.landing a:hover {
	color: #E4FDE1;
}

